:root {
    --gray: rgba(50, 50, 50, 0.9);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(83, 255, 212, 0.15);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    min-width: 1070px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--gray);
    font-weight: 300;
    font-size: 65px;
    width: 100%;
    text-align: center;
    padding-bottom: 75px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--gray);
    font-weight: 100;
    font-size: 70px;
}

.cell:hover {
    content: "X";
}

.type-one {
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}

.type-two {
    border-bottom: 1px solid var(--gray);
}

.type-three {
    border-right: 1px solid var(--gray);
}

input {
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 5px;
}

form {
    margin: 15px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray);

}

.hidden {
    display: none;
}

.start,
.clear,
.restart {
    padding: 7px 15px;
    border: 1px solid var(--gray);
    border-radius: 10px 0 10px 0;
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    font-size: 16px;
}

.start-over {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}